.container {
    display: flex;
    
}
.div1 {
    width: 500px;
    height: 500px;
    background-color: red;
}
.div2 {
    width: 500px;
    height: 500px;
    background-color: rgb(17, 0, 255);
}
.div3{
    width: 500px;
    height: 500px;
    background-color: rgb(0, 255, 34);
}
.div4 {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
    .div4 {
        background-color: blueviolet;
    }
}